---
import Layout from '../../layouts/Layout.astro';
import { getEntryBySlug } from 'astro:content';
import { format } from 'date-fns';
import { es } from 'date-fns/locale';

const { slug } = Astro.params;
const post = await getEntryBySlug('posts', slug);
if (!post) throw new Error(`Post not found: ${slug}`);
const { Content } = await post.render();

const postDate = new Date(post.data.publishDate);
const formattedDate = format(postDate, "d 'de' MMMM, yyyy", { locale: es });
---

<Layout>
  <div class="blog-page">
    <div class="blog-post-container">
      <a href="/blog/" class="back-link">← Regresar a los artículos</a>

      <article class="blog-post">
        <header class="blog-post-header">
          <h1>{post.data.title}</h1>
          <div class="blog-post-meta">
            <span class="date">{formattedDate}</span>
            {post.data.author && <span class="author">por {post.data.author}</span>}
          </div>
        </header>

        <div class="blog-post-content">
          <Content />
        </div>
      </article>
    </div>
  </div>
</Layout>
