---
import Program from '../components/Program.astro';
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

import { loadEventsData } from '../utils/dataLoader';
import { getMonths } from '../utils/calendarUtils';

const eventsData = loadEventsData();
const year = new Date(eventsData[0].Date).getFullYear().toString();
const months = getMonths(eventsData);
---

<Layout>
<h1> Calendario de eventos</h1>
    {months.map((month) => (
        <Program month={month} year={year} eventsData={eventsData} />
    ))}
</Layout>
