---
import Program from '../components/Program.astro';
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

import { loadEventsData } from '../utils/dataLoader';
import { getMonths } from '../utils/calendarUtils';

const jsonPath = './src/data/Eventos_Comunidad_Q3_2025.json';
const eventsData = await loadEventsData(jsonPath);
const year = "2025";
const months = getMonths(eventsData);
---

<Layout>
<h1> Calendario de eventos</h1>
    {months.map((month) => (
        <Program month={month} year={year} eventsData={eventsData} />
    ))}
</Layout>
