---
import Layout from '../layouts/Layout.astro';
title: "Análisis Competitivo de la Comunidad FAB - Cali"
import Post from '../content/stats202504.md'
---

<Layout>
<div class="backdrop-blur-md bg-black/40 p-4 rounded-xl shadow-lg">
<Post />
</div>
</Layout>
