---
---

<p>📅 <span id="currentDate" ></span></p>
<h2>Proximo evento:</h2>
<div class="nextEvent">
  <table id='nextEvent'>
    <tr>
      <th>Fecha</th>
      <th>Día</th>
      <th>Evento</th>
      <th>Hora</th>
      <th>Ubicación</th>
      <th>Ciudad</th>
      <th>Reminder</th>
    </tr>
  </table>
</div>
<h2>Calendario de Eventos</h2>
<div class="calendar">
  <!-- Calendar will be populated dynamically -->
</div>
<script src="/scripts/calendar.js" defer></script>
