---
import CalendarDay from './CalendarDay.astro';
import { Day } from './interfaces.ts';

interface Props {
  month: string;
  year: string;
  days: Day[];
}

const {month, year, days} = Astro.props;
---

<div class="flex flex-col h-full col-span-12 xl:col-span-6 px-2.5 py-5 sm:p-4 calendar rounded-l max-xl:row-start-1">
  <div class="flex flex-col md:flex-row  items-center justify-between mb-2">
    <div class="flex items-center">
      <h4 class="text-m leading-8 font-semibold calendarMonth">{month} {year}</h4>
    </div>
  </div>
    <div class="grid grid-cols-7 rounded-t-xl">
      <div class="py-3.5 items-center text-sm justify-center flex border-r rounded-tl-xl calendarHead">Dom</div>
      <div class="py-3.5 items-center text-sm justify-center flex border-r calendarHead">Lun</div>
      <div class="py-3.5 items-center text-sm justify-center flex border-r calendarHead">Mar</div>
      <div class="py-3.5 items-center text-sm justify-center flex border-r calendarHead">Mie</div>
      <div class="py-3.5 items-center text-sm justify-center flex border-r calendarHead">Jue</div>
      <div class="py-3.5 items-center text-sm justify-center flex border-r calendarHead">Vie</div>
      <div class="py-3.5 items-center text-sm justify-center flex rounded-tr-xl calendarHead">Sab</div>
    </div>
    <div class="grid grid-cols-7 rounded-b-l">
      {days.length > 0 ? (
        days.map((day) => (
          <CalendarDay day={day} />
        ))
      ) : ''}
  </div>
</div>
