---
const title = "Más que un juego, una comunidad...";
import banner from '../images/banner.jpeg';
import { Image } from 'astro:assets'
---


<section class="px-6 py-12 bg-base text-neutral flex">
<div class="welcomeImg">
<Image src={banner} alt="player banner"  class="w-full flex h-auto max-w-md max-h-md" />
</div>
  <div class="max-w-3xl mx-auto text-sm welcome backdrop-blur-xl p-5">
    <h1 class="text-xl font-bold text-accent mb-6">{title}</h1>

    <p class="leading-relaxed">
      <strong>Flesh and Blood Colombia</strong> es una comunidad construida en torno al juego cara a cara, con una identidad organizada, entusiasta y profundamente acogedora. Nos reunimos semanalmente para disfrutar de partidas en formatos Blitz y Classic Constructed, celebrar lanzamientos con eventos sellados y drafts, y compartir el juego más allá de la mesa. Aquí, cada jugador encuentra su espacio, desde quienes apenas están aprendiendo hasta quienes quieren competir a nivel profesional. Nuestros encuentros no solo se centran en competir, sino en fortalecer vínculos, crecer estratégicamente y disfrutar cada turno.
    </p>

    <p class="mt-6">
      A lo largo del tiempo, hemos consolidado un sistema estructurado que incluye torneos mensuales, temporadas con seguimiento de rendimiento, rankings, espacios de aprendizaje como <em>Learn to Play</em>, y un entorno que prioriza el respeto y la colaboración. Utilizamos herramientas como chats comunitarios, recursos compartidos y espacios físicos como tiendas locales para impulsar una experiencia integral. El ambiente es técnico y competitivo, pero también profundamente humano, donde el humor, la camaradería y la pasión por el juego están siempre presentes.
    </p>

    <p class="mt-6 italic text-muted-color">
      Aunque la mayoría de nuestra comunidad se encuentra en <strong>Cali, Colombia</strong>, invitamos a todos los jugadores —nuevos o veteranos— que estén considerando unirse al mundo de <em>Flesh and Blood</em> a formar parte de este espacio. Te damos la bienvenida a la mesa: aquí cada carta cuenta una historia, y la tuya está por comenzar.
    </p>
  </div>
</section>