html[data-theme='wtr'] {
  --primary-color:        #611a05;  /* Warrior red / burning embers */
  --primary-light:        #9b3211;
  --primary-dark:         #410f02;

  --secondary-color:      #3e3a39;  /* Steel and iron of armor */
  --secondary-light:      #706a67;
  --secondary-dark:       #2a2624;

  --accent-color:         #ddad2e;  /* Heroic light and runes */
  --accent-light:         #f6ce59;
  --accent-dark:          #b98c13;

  --neutral-color:        #f5e5d2;  /* Skin tones and light glows */
  --neutral-variant:      #d4b89e;
  --neutral-bg:           #f8f0e5;

  --base-color:           #31160c;  /* Background shadows and leather */
  --base-variant:         #4b2615;
  --base-bg:              #1b0b05;

  --text-color:           #f4f2f0;
  --muted-color:          #a4968d;
  --border-color:         #704e3b;
  --transparent-veil:     rgba(101, 63, 41, 0.1);

  /* Light backgrounds */
  --bg-light-1: #f8f1e9;
  --bg-light-2: #f2dfc9;
  --bg-light-3: #e8c7a7;
  --bg-light-4: #dfb083;

  --bg-light-1-tr: rgba(248, 241, 233, 0.8);
  --bg-light-2-tr: rgba(242, 223, 201, 0.8);
  --bg-light-3-tr: rgba(232, 199, 167, 0.8);
  --bg-light-4-tr: rgba(223, 176, 131, 0.8);

  /* Dark backgrounds */
  --bg-dark-1: #381f14;
  --bg-dark-2: #2c170e;
  --bg-dark-3: #211009;
  --bg-dark-4: #170a05;

  --bg-dark-1-tr: rgba(56, 31, 20, 0.8);
  --bg-dark-2-tr: rgba(44, 23, 14, 0.8);
  --bg-dark-3-tr: rgba(33, 16, 9, 0.8);
  --bg-dark-4-tr: rgba(23, 10, 5, 0.8);

  --bg-image: url('/images/wtr-bg.png');
}    

:root {
  --primary-color:        #170f06;
  --primary-light:        #3a261a;
  --primary-dark:         #0d0602;

  --secondary-color:      #fa6113;
  --secondary-light:      #ff8a3e;
  --secondary-dark:       #c64400;

  --accent-color:         #a62d07;
  --accent-light:         #cc3b12;
  --accent-dark:          #731f04;

  --neutral-color:        #fff0b6;
  --neutral-variant:      #fce69c;
  --neutral-bg:           #f7f2d4;

  --base-color:           #641c07;
  --base-variant:         #7e2409;
  --base-bg:              #3b0f03;

  --text-color:           #fffefb;
  --muted-color:          #cbbca3;
  --border-color:         #402010;
  --transparent-veil:     rgba(255, 240, 182, 0.1);

  --bg-light-1: #fff8e5;
  --bg-light-2: #fdf0c8;
  --bg-light-3: #fae7aa;
  --bg-light-4: #f6da91;

  --bg-light-1-tr: rgba(255, 248, 229, 0.8);
  --bg-light-2-tr: rgba(253, 240, 200, 0.8);
  --bg-light-3-tr: rgba(250, 231, 170, 0.8);
  --bg-light-4-tr: rgba(246, 218, 145, 0.8);

  --bg-dark-1: #4d1a0b;
  --bg-dark-2: #3d1407;
  --bg-dark-3: #2d0f05;
  --bg-dark-4: #1f0a03;

  --bg-dark-1-tr: rgba(77, 26, 11, 0.8);
  --bg-dark-2-tr: rgba(61, 20, 7, 0.8);
  --bg-dark-3-tr: rgba(45, 15, 5, 0.8);
  --bg-dark-4-tr: rgba(31, 10, 3, 0.8);

  --bg-image: url('/images/hntd-bg.png');
}


html[data-theme='highseas'] {
  --primary-color:        #103f43;
  --primary-light:        #3c6c71;
  --primary-dark:         #0a2b2e;

  --secondary-color:      #1b6269;
  --secondary-light:      #48a3aa;
  --secondary-dark:       #104a50;

  --accent-color:         #2ca4a8;
  --accent-light:         #4dc1c4;
  --accent-dark:          #1f7e81;

  --neutral-color:        #d1eef0;
  --neutral-variant:      #9dd3d5;
  --neutral-bg:           #0f343a;

  --base-color:           #1b373c;
  --base-variant:         #30545a;
  --base-bg:              #0e2024;

  --text-color:           #ebf9fa;
  --muted-color:          #a1c5c7;
  --border-color:         #28484c;
  --transparent-veil:     rgba(28, 55, 60, 0.1);

  --bg-light-1: #e3f6f7;
  --bg-light-2: #c9e6e7;
  --bg-light-3: #afd6d7;
  --bg-light-4: #95c6c7;

  --bg-light-1-tr: rgba(227, 246, 247, 0.8);
  --bg-light-2-tr: rgba(201, 230, 231, 0.8);
  --bg-light-3-tr: rgba(175, 214, 215, 0.8);
  --bg-light-4-tr: rgba(149, 198, 199, 0.8);

  --bg-dark-1: #133337;
  --bg-dark-2: #0f2a2e;
  --bg-dark-3: #0b2125;
  --bg-dark-4: #06181c;

  --bg-dark-1-tr: rgba(19, 51, 55, 0.8);
  --bg-dark-2-tr: rgba(15, 42, 46, 0.8);
  --bg-dark-3-tr: rgba(11, 33, 37, 0.8);
  --bg-dark-4-tr: rgba(6, 24, 28, 0.8);

  --bg-image: url('/images/sead-bg.png');
}


html[data-theme='highseas-light'] {
  --primary-color:        #d0a85f;
  --primary-light:        #e2c88a;
  --primary-dark:         #a07744;

  --secondary-color:      #58a3a8;
  --secondary-light:      #7dc7cb;
  --secondary-dark:       #417f83;

  --accent-color:         #d78b3b;
  --accent-light:         #f6b86e;
  --accent-dark:          #a86623;

  --neutral-color:        #fcf3df;
  --neutral-variant:      #f7e2b3;
  --neutral-bg:           #fdf7ec;

  --base-color:           #b47c4d;
  --base-variant:         #d8a36f;
  --base-bg:              #f4d7b6;

  --text-color:           #2e2e2e;
  --muted-color:          #846b55;
  --border-color:         #c9a474;
  --transparent-veil:     rgba(255, 243, 223, 0.1);

  --bg-light-1: #fff8e8;
  --bg-light-2: #fef1d5;
  --bg-light-3: #f9e5b8;
  --bg-light-4: #f1d495;

  --bg-light-1-tr: rgba(255, 248, 232, 0.8);
  --bg-light-2-tr: rgba(254, 241, 213, 0.8);
  --bg-light-3-tr: rgba(249, 229, 184, 0.8);
  --bg-light-4-tr: rgba(241, 212, 149, 0.8);

  --bg-dark-1: #b0733d;
  --bg-dark-2: #8a5a30;
  --bg-dark-3: #644123;
  --bg-dark-4: #422b17;

  --bg-dark-1-tr: rgba(176, 115, 61, 0.8);
  --bg-dark-2-tr: rgba(138, 90, 48, 0.8);
  --bg-dark-3-tr: rgba(100, 65, 35, 0.8);
  --bg-dark-4-tr: rgba(66, 43, 23, 0.8);

  --bg-image: url('/images/seal-bg.png');
}


body {
    margin: 0;
    font-family: Roboto, Arial, sans-serif;
    background-color: var(--bg-dark-1);
    
    color:var(--text-color);
    
    width: 100%;
}

.welcome {
    color:var(--text-color);
}

.nav {
    background-color: var(--primary-color);
    color: var(--accent-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.logo {
    background-color: var(--transparent-veil);
    border-bottom-left-radius: 45%;
    border-bottom-right-radius: 45%;
}

main {
}
.eventCard {
   background-color: var(--bg-light-2-tr);
}
.eventCard .bullet {
    background-color: var(--secondary-light)
}
.eventCard .eventTime{
    color: var(--base-color);
   
}
.eventCard .eventTitle{
    color: var(--accent-color);
   
}
.eventCard .eventLocation{
    color: var(--secondary-dark);
   
}
.nav ul li a:hover {
    color: var(--accent-color);
}

.calendar {
    color:var(--secondary-color);
}
.calendar .calendarHead{
    background-color: var(--bg-dark-4-tr);
    color: var(--secondary-light);
}
.calendar .calendarDay{
    background-color: var(--bg-light-4-tr);
    color: var(--text-color);
}
.calendar .bullet {
    background-color: var(--accent-light);
}
.calendar .event {
    background-color: var(--bg-dark-1-tr);
}
.calendar .event .time {
    color: var(--base-variant);
}
.logoText {
    color: var(--secondary-light);
    font-family: 'Winky Rough', sans-serif;
    font-weight: 600;
}
article, .blog {
    background: var(--bg-light-1);
    color: var(--base-color);
    line-height: 1.6;
}
.blog .postlink {
    border-left: 10px solid;
    border-left-color:var(--bg-light-1);
    transition: border-color 0.1s ease;
}
.blog .postlink:hover {
    border-left-color:var(--bg-dark-2);                
}
.blog h2 {
    border-left-color:var(--bg-dark-2);                
    color: var(--accent-color);
}

article h1,
article h2,
article h3,
article h4 {
    color: var(--accent-color);
    margin-top:1lh;
    margin-bottom:1lh;
    font-size:120%;
}
article img {
    max-width:50%;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    margin-top:1lh;
    margin-bottom:3lh;
    transition: transform 0.2s ease;
}

article img:hover {
    transform: scale(1.8);
}
article p {
    padding: 1lh;
    line-height: 1.6;
}
article p a {
    color: var(--accent-light);
    text-decoration: underline;
}
article table {
    margin-left: auto;
    margin-right:auto;
    background-color: var(--bg-dark-4-tr);
    color: var(--text-color);
}
article th {
    background-color: var(--bg-dark-3);
    padding:2px;
    padding-left:5px;
    padding-right:10px;                 
}
article td {
    text-align: right;
    padding:5px;
}
#themeSwitcher {
  background-color: var(--bg-dark-2);
  color: var(--text-color);
  border: px solid var(--border-color);
  padding: 1lh;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  float:right;
  appearance: none;
}
article li {
    list-style-type: circle;
    padding:0.5em;
    margin-left:2em;
    
}
blockquote {
  font-weight: 300;
  font-style: italic;
  margin: 1lh;
  padding-left: 1lh;
  border-left: 4px solid var(--accent-dark);
  line-height: 1.6;
}


#themeSwitcher:focus {
  outline: none;
  box-shadow: 0 0 0 3px var(--accent-light);
}

h1, h2, h3, h4, h5, h6, .legend{
    font-family: 'Winky Rough', Roboto, sans-serif;
    color: var(--text-color);
}
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav ul {
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
    }
}
