---
import '../css/base.css';
import Header from '../components/Header.astro';
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventos de Flesh and Blood Colombia :  The Hunted</title>
    <link rel="stylesheet" href="/css/fontawesome/css/all.min.css">
  </head>
  <body>
    <Header/>
    <main class="container mx-auto px-4 mt-4 py-4 rounded-lg">
      <slot />
    </main>
  </body>
</html>
