---
import '../css/base.css';

import { Image } from 'astro:assets';
import  fabLogo from '../images/FABLogo.jpg';
import huntedLogo from '../images/the_hunted_logo.original.png';
---
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventos de Flesh and Blood Colombia :  The Hunted</title>
  </head>
  <body>
    <header class="top">
      <Image src={fabLogo} alt="FABCO Logo" height='90' />
      <h1>Flesh and Blood Colombia</h1>
      <Image src={huntedLogo} alt="The Hunted Logo" height='80' />

    </header>
    <header class='links-header'>
      <nav class="links">
        <ul>
          <li><a href="https://challonge.com/communities/fabco">Challonge</a></li>
          <li><a href="https://challonge.com/communities/fabco/rankings">Rankings</a></li>
          <li><a href="https://www.facebook.com/groups/23891653443812984">Facebook</a></li>
          <li><a href="https://www.instagram.com/flesh_and_blood_colombia/">Instagram</a></li>
          <li><a href="https://chat.whatsapp.com/Ga3W3eRQvWrDrblaV9W6Re">WhatsApp</a></li>
          <li><a href="https://discord.gg/u783DZ9kGE">Discord</a></li>
        </ul>
      </nav>
    </header>
    <header class='links-header'>
     < nav class="links">
        <ul
          <li>Ayudas: </li>
          <li><a href="/mechanics">Mecanicas</a></li>
          <li><a href="/equipment_mechanics">Mecanicas de equipos</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <slot />
    </main>
  </body>
</html>
